*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.home{
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 22, 22);

}
section span{
    color: red;

}
h1{
    font-size: 2.5rem;
    letter-spacing: 0.08rem;
    cursor: pointer;
    
}
nav{
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
nav ul li{
    font-size: 17px;
    list-style-type: none;
    display: inline-block;
    margin: 10px 30px;
    font-family: 'Cabin', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
}
nav ul li a{
    color: white;
    text-decoration: none;
    transition: 0.4s;
}
nav ul li a:hover{
    color: red;
}
.content{
    flex-grow: 1;
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 80px;
    justify-content: space-between;
}
div .content-text h3{
    font-size: 3.6rem;
    margin: 3.9rem 0 ;
}
div .content-text h2{
    color: red;
    margin-left: 15rem;
    font-size: 3rem;
    margin-top: 3rem;

}
div .content-text h4{
    margin-left: 20rem;
    font-size: 3.6rem;
    margin-top: 4rem;
}
.content-text1{
    margin-top: 85px;
    margin-left: 3rem;
    color: white;
    text-decoration: none;
    transition: 0.4s;
    font-size: 22px;
    list-style-type: none;
    display: inline-block;
    font-family: sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: red;
    border-radius: 12px;
    border: 3px solid transparent;
}
.content-text1:hover{
    background-color: black;
    color: white;
    border: 3px solid red;
}

.pic,
.shap{
    width: 350px;
    height: 550px;
    position: relative;
    align-self: flex-end;
    margin-left: 57rem;
    transition: 0.7s;
    cursor: pointer;

} 
.content-imgs1 img{
    position: absolute;
    bottom: 0;
    height: 80%;
    left: 0.5px;
    transform: translateX(-0.5px);
}
.pic:hover{
    left: 15px;
    
}
.counter{
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 22, 22);
    
}
.content-one{
    margin-top: 140px;
    margin-bottom: 100px;
    margin-left: 100px;
    padding: 40px;
}
.content-one p{
    position: absolute;
    width: 450px;
    height: fit-content;
    color: white;
    font-size: 30px;
    font-family: sans-serif;

}
.content-one p span{
    color: red;
    font-size: 45px;
}
.content-one img{
    position: relative;
    width: 340px;
    height: 440px;
    top: -50px;
    left: 780px;
    border: 2px solid black;
    border-radius: 70px;
    box-shadow: 0px 1px 20px 9px rebeccapurple;
}
.content-one a{
    position: absolute;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px 40px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: 2px solid transparent;
    margin-top: 370px;
    margin-left: -40px;
    transition: 0.4s;
    
}
.content-one a:hover{
    background-color: black;
    color: white;
    border: 2px solid red;
    box-shadow: 0px 1px 10px 5px darkgreen
}
.counter-bing{
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 22, 22);
}
.content-two{
    margin-top: 140px;
    margin-bottom: 100px;
    margin-left: 100px;
    padding: 40px;
}
.content-two img{
    position: relative;
    width: 340px;
    height: 440px;
    top: -50px;
    left: 780;
    border: 2px solid black;
    border-radius: 70px;
    box-shadow: 0px 1px 20px 9px rebeccapurple;
}
.content-two p{
    position: absolute;
    width: 450px;
    height: fit-content;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    left: 910px;
}
.content-two p span{
    color: red;
    font-size: 45px;
}
.content-two a {
    position: absolute;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px 40px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: 2px solid transparent;
    margin-top: 370px;
    margin-left: 430px;
    transition: 0.4s;
}
.content-two a:hover{
    background-color: black;
    color: white;
    border: 2px solid red;
    box-shadow: 0px 1px 10px 5px darkgreen
}
.support{
    width: 100%;
    height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 22, 22);
    font-family: 'Cabin', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
}
.can{
    padding: 20px;
    margin: 40px;
}
.can h2{
    font-size: 3.6rem;
    margin-top: 1rem;
    margin-left: 15rem;
}
.can h3{
    color: red;
    margin-left: 40rem;
    font-size: 3rem;
    margin-top: 2rem;
}
.can h4{
    margin-left: 55rem;
    font-size: 3.6rem;
    margin-top: 3rem;
}
footer{
    width: 100%;
    height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 22, 22);
    
    
}
.footer-shadow{
    width: 95%;
    height: 50vh;
    box-shadow: 0px 1px 14px 4px rebeccapurple;
    margin-left: 25px;
    margin-bottom: 25px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    display: inline-flex;
}
.left-footer{
    width: 31.6%;
    height: 40vh;
    margin: 10px;
   
}
.left-footer p{
    font-size: 25px;
    font-family: serif;
    margin: 20px;
    color: white;
    cursor: pointer;
    width: fit-content;
}
.left-footer p span{
    color: red;
}
.left-footer img{
    width: 165px;
    height: 175px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0px 1px 14px 4px cornflowerblue;
}
.center-shadow{
    width: 31.6%;
    height: 40vh;
    margin: 10px;
    
}
.center-shadow ul li{
    list-style-type: none;
    margin: 15px;
    position: relative;
    top: 65px;
    font-size: 25px;
    text-align: center
}
.center-shadow ul li a{
    text-decoration: none;
    color: white; 
    transition: 1.9s;
}
.center-shadow ul li a:hover{
    color: rebeccapurple;
}
.right-shadow{
    width: 31.6%;
    height: 40vh;
    margin: 10px;
    
}
.right-shadow ul li{
    list-style-type: none;
    display: inline-block;
    margin: 5px;
    position: relative;
    top: 20px;
    left: 155px;
}
.right-shadow ul li a{
    text-decoration: none;
}
.right-shadow ul li a img{
    width: 35px;
    height: 40px;
    border: 0.1px solid black;
    border-radius: 15px;
    transition: 1.9s;
}
.right-shadow ul li a img:hover{
    box-shadow: 0px 1px 14px 4px rgb(195, 151, 233);
}
.right-shadow p{
    color: white;
    font-size: 15px;
    font-family: serif;
    position: relative;
    top: 60px;
    left: 160px;
    margin: 10px;
    display: inline-block;  
}
.right-shadow h5{
    color: white;
    font-size: 20px;
    font-family: serif;
    position: relative;
    top: 190px;
    left: 20px;
    margin: 10px;
    display: inline-block;

}
.right-shadow h5 span,
p span{
    color: red;
}
